.name {
  font-style: italic;
  font-size: 50px;
}
.input {
  margin-left: 500px;
  border: 1px solid #964b0078;
  border-radius: 25px;
  padding: 10px 10px 10px 10px;
  width: 200px;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.submit {
  background-color: #964b0078;
  border-radius: 25px;
  border-color: #964b0078;
  box-shadow: 20px;
  width: 100px;
  padding: 10px 5px 10px 5px;
  color: white;
}
header {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  margin-top: 20px;
  color: #964b00c6;
}
.recipe {
  margin-left: 500px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 20px;
  border: 0.5px solid #d3980e2a;
  padding: 15px;
  width: fit-content;
  max-width: 300px;
  border-radius: 8px;
  background-color: #cc8d2659;
  font-family: Arial, sans-serif;
  text-align: center;
}
.img {
  display: block;
  width: 250px;
  margin-left: 540px;
  margin-bottom: 40px;
  margin-top: 40px;
  height: auto;
}
footer {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.line {
  border: 1px solid #964b0078;
}
